:host {
  display: block;
  padding: 0.5rem 0;
  border-bottom: 1px solid #b2b2b2;
}

:host(:last-child) {
  border-bottom: none;
}

a {
  color: #0060a9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
